# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem
*.log
*.env
*.env.local
*.env.*.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store

# Bun
.bun/
bun.lockb
bun.lock

# Build outputs
frontend/dist/
backend/dist/
.vercel
*.db
test-results/
testing/
commands
